* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
}

.boxes {
    opacity: 0.5;
    filter: blur(20px);
}

.box1 {
    position: absolute;
    background: linear-gradient(360deg, rgb(29, 29, 59), rgb(41, 90, 41), rgb(41, 16, 16));
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: hlo 7s ease-in-out infinite;
    left: -45px;
    top: -35px;
}

.box2 {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: hlo 10s ease-in-out infinite;
    left: 60%;
    top: 500px;
    background: linear-gradient(rgb(89, 60, 60), rgb(34, 34, 15), rgb(58, 42, 45));
}

.box3 {
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: hlo 10s ease-in-out infinite;
    left: 80%;
    background: linear-gradient(360deg, rgb(98, 71, 21), rgb(92, 38, 92), rgb(109, 99, 99));
}

@keyframes hlo {

    0%,
    100% {
        transform: translate(0, 0) scale(1);
    }

    33% {
        transform: translate(2px, 3px) scale(1.1);
    }

    66% {
        transform: translate(4px, 5px) scale(1.3);
    }
}

.continer {
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 30px;
    padding: 10px;
}

.continer .main {
    border: 2px solid white;
    background-color: transparent;
    width: 120px;
    border-radius: 1rem;
    text-align: center;
    padding: 3px;
}

.continer .main h1 {
    color: blue;
    text-align: center;
    padding: 1px;
    font-size: 3rem;
    letter-spacing: 3px;
}

.continer .main span {
    font-size: 1.2rem;
    text-align: center;
    color: orange;
    letter-spacing: 1.9px;
}

.continer .equal {
    padding: 0 5px;
    font-size: 4rem;
    font-weight: 1000;
    background: linear-gradient(to right, orange, brown);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news {
    text-align: center;
    padding-top: 300px;
    background: linear-gradient(to right, orange, blue, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.3px;
    margin: 50px;
    font-size: 2.5rem;
}

.btn{
    text-align: center;
    padding: 20px;
}

.btn button{
    padding: 10px;
    box-shadow: 2px 3px 10px white;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}

button:hover{
    background-color: blueviolet;
}

@media(max-width:740px) {
    .box1 {
        width: 200px;
        height: 200px;
    }

    .box2 {
        width: 100px;
        height: 100px;
    }

    .box3 {
        width: 100px;
        height: 100px;
    }

    .continer {
        gap: 2px;
    }

    .continer .main {
        width: 70px;
        height: 70px;
        text-align: center;
    }
    
    .continer .main h1{
        font-size: 1.1rem;
    }
    .continer .news h1{
        font-size: 1.5rem;
    }

    .continer .main span{
        font-size: 18px;
    }
}